.about {
    color: black;
    background-color: white;
    margin: 200px 10px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 2px 2px 10px lightgray;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    
        &__container {
            margin: 20px;
            width: 350px;
            height: 350px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &__smallcontainer {
                background-color: #EEEEEE;
                padding: 0px 25px 0px 25px;
            }
        }
}