.review, .reviewStudent {
    color: black;
    width: 350px;
    // height: 400px;
    background-color: white;
    margin: 50px 10px;

    border-radius: 3px;
    box-shadow: 2px 2px 10px lightgray;

        &__container {
            background-color: white;
            width: 350px;
            // height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &__header { 
                color: white;
                font-weight: 700;
                background-color: #1b212d;
                border-radius: 3px 0 0 0;
                padding: 20px;
                margin-bottom: 10px;
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
            }

            &__smallcontainer { 
             background-color: #EEEEEE;
             border-radius: 3px;
             padding: 20px;
             margin: 5px;
             width: 80%;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
            
            select{
                height: 35px;
                border-radius: 3px;
                font-size: 1rem;
            }
            input{
                height: 35px;
                border-radius: 3px;
                font-size: 1rem;
            }
            textarea{
                height: 55px;
                border-radius: 3px;
                font-size: 1rem;
            }
                &__submitBtn {
                    border-radius: 5px;
                    background-color: #80D3FF;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    padding: 8px 32px 8px 32px;
                    color: black;
                    border: 1px solid lightgray;
                    cursor: pointer;

                    &:hover {
                        background-color: #00BFFF;
                        color: rgb(255, 255, 255);
                    }
                }

                &--item {
                    background-color: #F0F8FF;
                }

                &--selected {
                    min-height: 35px;
                    padding: 6px;
                    border-radius: 3px;
                    background-color: #F0F8FF;
                }
                &--sprint {
                    min-height: 35px;
                    color: rgb(167, 0, 0);
                    padding: 6px;
                    border-radius: 3px;
                    background-color: #F0F8FF;
                }
                &--module {
                    min-height: 35px;
                    color: rgb(0, 66, 97);
                    padding: 6px;
                    border-radius: 3px;
                    background-color: #F0F8FF;
                }
            .stars{
                width: 50px;
                display: flex;
                justify-content: space-between;
                font-size: 40px;
                .star-false{
                    margin: 0 5px;
                    color: grey;
                    -webkit-text-stroke: 1px black;
                    transition: all 700ms;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.3);
                        color: rgb(177, 182, 102);
                    }
                }
                .star-true{
                    margin: 0 5px;
                    color: yellow;
                    -webkit-text-stroke: 1px black;
                    transition: all 700ms;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.3);
                        color: rgb(177, 182, 102);
                    }
                }
            }
            .mood{
                width: 50px;
                height: 45px;
                display: flex;
                justify-content: space-between;
                font-size: 35px;
                .mood-false{
                    margin: 0 5px;
                    color: grey;
                    -webkit-text-stroke: 1px black;
                    transition: all 700ms;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.3);
                        color: rgb(177, 182, 102);
                    }
                }
                .mood-true{
                    margin: 0 5px;
                    color: yellow;
                    -webkit-text-stroke: 1px black;
                    transition: all 700ms;
                    transform: scale(1.3);
                    &:hover{
                        cursor: pointer;
                        color: rgb(177, 182, 102);
                    }
                }
            }
        }
    }
}