.tile {
    width: 350px;
    height: 430px;
    background-color: white;
    // border: 1px solid red;

    margin: 20px 10px;

    border-radius: 3px;
    box-shadow: 2px 2px 10px lightgray;

    &__header {
        width: 100%;
        height: 40px;
        color: white;
        font-weight: bold;

        background-color: #1b212d;

        display: flex;
        align-items: center;

        padding-left: 15px;
    }
    .grades-chart{
        // margin-top: 10px;
        padding: 3px 10px 0 10px;
        &-title{
            text-align: center;
            color: black;
            font-size: 0.9rem;
            margin-bottom: 3px;
        }
    }

    &__alert {
        height: 390px;
        // border: 1px solid red;
        background: white;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .submit-btn{
            margin-top: 8px;
            display: flex;
            justify-content: center;
            button{
                border-radius: 3px;
                background-color: rgb(171, 203, 214);
                padding: 4px 25px;
                color: white;
                border: 1px solid lightgray;
                cursor: pointer;
                &:hover {
                    background-color: rgb(184, 228, 243);
                    color: rgb(255, 255, 255);
                }
            }
        }
        &__boxes {
            height: 90px;
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;

            &__box {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 20px;
                    height: 20px;
                }

                &.alert {
                    position: relative;
                    &::after {
                        content: " ";
                        width: 10px;
                        height: 10px;
                        background: red;
                        position: absolute;
                        right: -5px;
                        top: -5px;
                        border-radius: 100%;
                        border: 2px solid white;
                    }
                }
            }
        }

        &__container {
            width: 90%;
            margin: 0 auto;

            color: black;

            height: 260px;
            overflow-y: auto;

            &__list {
                list-style: none;
                padding: 15px 0 0;

                .delete-alert{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button{
                        border-radius: 5px;
                        background-color: rgb(171, 203, 214);
                        margin: 8px;
                        padding: 8px 32px 8px 32px;
                        color: white;
                        border: 1px solid lightgray;
                        cursor: pointer;
                        &:hover {
                            background-color: rgb(184, 228, 243);
                            color: rgb(255, 255, 255);
                        }
                    }
                    #yes{
                        background-color: rgb(207, 92, 92);
                        &:hover {
                            background-color: rgb(195, 0, 0);
                        }
                    }
                    #no{
                        background-color: rgb(0, 153, 77);
                        &:hover {
                            background-color: rgb(22, 190, 0);
                        }
                    }
                }


                &--item {
                    width: 100%;
                    display: flex;

                    & + & {
                        margin-top: 10px;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &__left {
                        height: 40px;
                        width: 40px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        position: relative;
                        svg {
                            width: 12.5px;
                        }
                        #Completed{
                            display: visible;
                            position: absolute;
                            color: rgb(1, 206, 127);
                            font-size: 30px;
                            font-weight: 700;
                            left: 9px;
                            top: 0px;
                        }
                        #In-Progress{
                            display: none;
                        }

                    }


                    &__right--Completed {
                        height: 40px;
                        width: calc(100% - 40px);
                        display: flex;
                        align-items: center;
                        padding: 5px 0 5px 10px;
                        background: #eee;
                        p {
                            font-size: 0.7rem;
                            margin: 0;
                            color: darkgrey;
                        }
                    }
                    &__right--In-Progress {
                        height: auto;
                        width: calc(100% - 40px);
                        display: flex;
                        align-items: center;
                        padding: 5px 0 5px 10px;
                        background: #eee;
                        p {
                            font-size: 0.7rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    /*attendance form font styling*/
    &__attendance {
        color: #7B7B7B;
        width: 350px;
        /*form items styling*/
        &__container{
            text-align: center;
            align-items: center;
            margin: 0 auto;
            #submit{
                display: flex;
                justify-content: center;
                border: none;
                background-color: white;
                transition: all 1000ms;
                #success{
                    font-size: 1.1rem;
                    transition: all 1000ms;
                } 
            }
            /*more form items styling*/
            &__smallcontainer {
                display: flex;
                align-items: center;
                min-height: 45px;
                // justify-content: center;
                // border: 1px solid lightgray;
                background-color: rgb(235, 235, 255);        
                margin: 5px;
                padding: 3px 5px;
                font-size: 0.9rem;
                position: relative;
                select{
                    border-radius: 3px;
                    margin-left: 3px;
                    height: 30px;
                }
                input[type=checkbox]{
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    z-index: 10;
                }
                .checkmark {
                    z-index: 1;
                    position: absolute;
                    top: 1px;
                    right: 0;
                    border: 1px solid lightgray;
                    height: 20px;
                    width: 20px;
                    background-color: #eee;
                    &:hover {
                        background-color:  rgb(227, 255, 220);
                        cursor: pointer;
                    }
                }
                .checkmark-start {
                    position: absolute;
                    top: 2px;
                    right: 4px;
                    border: 1px solid lightgray;
                    height: 20px;
                    width: 20px;
                    background-color: #eee;
                    &:hover {
                        background-color: rgb(205, 255, 192);
                        cursor: pointer;
                    }
                }
                .checkmark-stand-up {
                    position: absolute;
                    top: 24px;
                    right: 4px;
                    border: 1px solid lightgray;
                    height: 20px;
                    width: 20px;
                    background-color: #eee;
                    &:hover {
                        background-color: rgb(205, 255, 192);
                        cursor: pointer;
                    }
                }
                input[type=checkbox]:checked ~ .checkmark{
                    background-color: lightgreen;
                }
                input[type=checkbox]:checked ~ .checkmark-start{
                    background-color: lightgreen;
                }
                input[type=checkbox]:checked ~ .checkmark-stand-up{
                    background-color: lightgreen;
                }
                .date{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5px;
                    select{
                        width: 100%;
                        margin-left: 5px;
                    }
                }
                .time_slot-false{
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid red;
                    width: 120px;
                    margin-left: 5px;
                    
                    div{
                        display: flex;
                        justify-content: space-between;
                        // border: 1px solid blue;
                        width: 150px;
                        text-align: right;
                    }
                    label.checkbox-stand-up{
                        display: flex;
                        justify-content: space-between;
                        width: 120px;
                        margin-right: 20px;
                        // border: 1px solid red;
                    }
                }
                .time_slot-true{
                    display: flex;
                    flex-direction: column;
                    width: 120px;
                    margin-left: 5px;
                    color: red;
                    div{
                        display: flex;
                        justify-content: space-between;
                        // border: 1px solid blue;
                        width: 150px;
                        text-align: right;
                    }
                    label.checkbox-stand-up{
                        display: flex;
                        justify-content: space-between;
                        width: 120px;
                        margin-right: 20px;
                        // border: 1px solid red;
                    }
                }
                .students{
                    width: 100%;
                    // border: 1px solid red;
                    height: 178px;
                    overflow-y: auto;
                    &--labels{
                        display: flex;
                        justify-content: space-between;
                        font-size: 0.7rem;
                        #notes{
                            margin-left: -60px;
                        }
                    }
                    &--list{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        &--container{
                            display: flex;
                            // flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;
                            .names{
                                display: flex;
                                align-items: center;
                                color: black;
                                // min-width: 120px;
                                // max-width: 100%;
                                height: 22px;
                                overflow: hidden;
                            }
                            input.notes{
                                // border: 1px solid purple;
                                width: 188px;
                                position: absolute;
                                height: 20px;
                                margin: 2px;
                                top: -1px;
                                right: 20px;
                            }
                        }
                    }
                }

                    /*button styling*/
                    &__submitBtn{
                        border-radius: 3px;
                        background-color: rgb(171, 203, 214);
                        padding: 4px 25px;
                        color: white;
                        border: 1px solid lightgray;
                        cursor: pointer;
                        &:hover {
                            background-color: rgb(184, 228, 243);
                            color: rgb(255, 255, 255);
                        }
                    }
                    // &__submitBtn {
                    //     border-radius: 5px;
                    //     background-color: #F0F8FF;
                    //     background-color: #80D3FF;
                    //     width: 60%;
                    //     margin-top: 3px;
                    //     padding-top: 3px;
                    //     padding-bottom: 3px;
                    //     color: black;
                    //     border: 1px solid lightgray;
                    //     cursor: pointer;

                    //     &:hover {
                    //         background-color: #00BFFF;
                    //         width: 60%;
                    //         color: #7B7B7B;
                    //     }
                    // }
                        /*curving edges for form selects, input */
                        &--item {
                            width: 150px;
                            // border: 1px solid red;
                            border-radius: 5px;
                            background-color: #F0F8FF;
                            cursor: pointer;
                            &--assignments{
                                width: 100%;
                            }
                            &--date{
                                width: 50%;
                            }
                    }
            }
        }
    }
    //end __
    &__missing {
        color: black;
        margin: 5px;
        padding: 5px;
        height: 370px;
        font-size: 0.8rem;
        overflow-y: auto;
        overflow-x: hidden;
        &__headers {
            display: flex;
            justify-content: space-around;
            p {
                margin: 0;
            }
        }

            &__container {
                background-color: #EEEEEE;
                color: black;
                display: flex;
                justify-content: left;
                align-items: center;
                text-align: center;
                margin-bottom: 5px;
                padding: 5px 0;
                height: 65px;
                a {
                    text-decoration: none;
                    color: black;
                }

                &__student {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    min-width: 70px;
                    height: 60px;
                    background-color: rgb(213, 212, 255);
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(230, 230, 230)
                    }
                    p{
                        margin: 1px;
                    }
                    &__module {
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(207, 160, 255);
                        width: 260px;
                        height: 60px;
                        padding: 10px;
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(218, 181, 255)
                        }
                    
                }
                &__sprint {
                    // border: 1px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(249, 183, 255);
                    width: 260px;
                    height: 60px;
                    padding: 10px;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(249, 189, 255)
                    }
                
            }
                
            }
        }
    }
    //end __missing
    &__recent {
        color: black;
        // margin: 2px;
        padding: 10px;
        height: 380px;
        // overflow-y: auto;
        font-size: 0.7rem;
        &__headers {
            display: flex;
            justify-content: space-around;
            margin-bottom: 5px;
            p {
                margin: 0;
            }
        }

            &__container {
                background-color: #EEEEEE;
                color: black;
                display: flex;
                justify-content: left;
                align-items: center;
                text-align: center;
                margin-bottom: 5px;
                padding: 5px 0;
                width: 100%;
                height: 50px;
                a{
                    text-decoration: none;
                    color: black;
                };

                &__student {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(212, 212, 212);
                    min-width: 70px;
                    height: 35px;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(230, 230, 230)
                    }
                    p{
                        margin: 1px;
                    }
            
                    &__module {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(128, 255, 172);
                        width: 100%;
                        height: 35px;
                        padding: 10px;
                        transition: all 500ms;
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(176, 255, 204)
                        }
                    
                }
                    &__sprint {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(128, 211, 255);
                        width: 100%;
                        height: 35px;
                        padding: 10px;
                        transition: all 500ms;
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(189, 229, 251);
                        }
                
                }
            }
            &__review {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(241, 201, 201);
                width: 45px;
                height: 35.5px;
                padding: 10px;
                transition: all 500ms;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(245, 213, 255);
                }
        
            }
        }
    }
    //end __recent
}
